# Google Data Analytics - Capstone Project

## Case Study - Cyclistic Bikes
### Hung Yi-Le
### 7/30/2022

### Scenario
You are a junior data analyst working in the marketing analyst team at Cyclistic, a bike-share company in Chicago. The director of marketing believes the company’s future success depends on maximizing the number of annual memberships. There are two types of riders:

• Causal Riders

• Cyclistic member

Cyclistic’s marketing strategy relied on building general awareness and appealing to broad consumer segments. One approach that helped make these things possible was the flexibility of its pricing plans: single-ride passes, full-day passes, and annual memberships. Customers who purchase single-ride or full-day passes are referred to as casual riders. Customers who purchase annual memberships are Cyclistic members.

Therefore, your team wants to understand how casual riders and annual members use Cyclistic bikes differently. From these insights, your team will design a new marketing strategy to convert casual riders into annual members. But first, Cyclistic executives must approve your recommendations, so they must be backed up with compelling data insights and professional data visualizations.

### Objective
How do annual members and casual riders use Cyclistic bikes differently?

Why would casual riders buy Cyclistic annual memberships?

How can Cyclistic use digital media to influence casual riders to become members?

In [1]:
import pandas as pd
from datetime import datetime
from datetime import date

In [2]:
#Read file 1-9
for i in range (1,10):
    locals()[f'd{i}'] = pd.read_csv(fr'Data/20210{i}-divvy-tripdata.csv')
#Read the rest files
for i in range (10,13):
    locals()[f'd{i}'] = pd.read_csv(fr'Data/2021{i}-divvy-tripdata.csv')

### Checking their columns

In [3]:
columns = pd.DataFrame([d1.columns,d2.columns,d3.columns,d4.columns,d5.columns,d6.columns,d7.columns,d8.columns
                        ,d9.columns,d10.columns,d11.columns,d12.columns]).T
columns.columns=["1","2","3","4","5","6","7","8","9","10","11","12"]

In [4]:
columns

,1,2,3,4,5,6,7,8,9,10,11,12
0,ride_id,ride_id,ride_id,ride_id,ride_id,ride_id,ride_id,ride_id,ride_id,ride_id,ride_id,ride_id
1,rideable_type,rideable_type,rideable_type,rideable_type,rideable_type,rideable_type,rideable_type,rideable_type,rideable_type,rideable_type,rideable_type,rideable_type
2,started_at,started_at,started_at,started_at,started_at,started_at,started_at,started_at,started_at,started_at,started_at,started_at
3,ended_at,ended_at,ended_at,ended_at,ended_at,ended_at,ended_at,ended_at,ended_at,ended_at,ended_at,ended_at
4,start_station_name,start_station_name,start_station_name,start_station_name,start_station_name,start_station_name,start_station_name,start_station_name,start_station_name,start_station_name,start_station_name,start_station_name
5,start_station_id,start_station_id,start_station_id,start_station_id,start_station_id,start_station_id,start_station_id,start_station_id,start_station_id,start_station_id,start_station_id,start_station_id
6,end_station_name,end_station_name,end_station_name,end_station_name,end_station_name,end_station_name,end_station_name,end_station_name,end_station_name,end_station_name,end_station_name,end_station_name
7,end_station_id,end_station_id,end_station_id,end_station_id,end_station_id,end_station_id,end_station_id,end_station_id,end_station_id,end_station_id,end_station_id,end_station_id
8,start_lat,start_lat,start_lat,start_lat,start_lat,start_lat,start_lat,start_lat,start_lat,start_lat,start_lat,start_lat
9,start_lng,start_lng,start_lng,start_lng,start_lng,start_lng,start_lng,start_lng,start_lng,start_lng,start_lng,start_lng
10,end_lat,end_lat,end_lat,end_lat,end_lat,end_lat,end_lat,end_lat,end_lat,end_lat,end_lat,end_lat
11,end_lng,end_lng,end_lng,end_lng,end_lng,end_lng,end_lng,end_lng,end_lng,end_lng,end_lng,end_lng
12,member_casual,member_casual,member_casual,member_casual,member_casual,member_casual,member_casual,member_casual,member_casual,member_casual,member_casual,member_casual

### To combine all the files into a single dataframe for futher data processing since they all have identical columns

In [5]:
df = pd.DataFrame()
for i in range(1,13):
    df = pd.concat([df, locals()[f'd{i}']], axis=0)

In [6]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.890000,-87.720000,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.900000,-87.690000,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.900000,-87.700000,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.920000,-87.690000,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.900000,-87.700000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
247535,847431F3D5353AB7,electric_bike,2021-12-12 13:36:55,2021-12-12 13:56:08,Canal St & Madison St,13341,NaN,NaN,41.882289,-87.639752,41.890000,-87.610000,casual
247536,CF407BBC3B9FAD63,electric_bike,2021-12-06 19:37:50,2021-12-06 19:44:51,Canal St & Madison St,13341,Kingsbury St & Kinzie St,KA1503000043,41.882123,-87.640053,41.889106,-87.638862,member
247537,60BB69EBF5440E92,electric_bike,2021-12-02 08:57:04,2021-12-02 09:05:21,Canal St & Madison St,13341,Dearborn St & Monroe St,TA1305000006,41.881956,-87.639955,41.880254,-87.629603,member
247538,C414F654A28635B8,electric_bike,2021-12-13 09:00:26,2021-12-13 09:14:39,Lawndale Ave & 16th St,362.0,NaN,NaN,41.860000,-87.720000,41.850000,-87.710000,member
247539,37AC57E34B2E7E97,classic_bike,2021-12-13 08:45:32,2021-12-13 08:49:09,Michigan Ave & Jackson Blvd,TA1309000002,Dearborn St & Monroe St,TA1305000006,41.877850,-87.624080,41.881320,-87.629521,member

### Adding ride length for each rider, and detele any negative ride length

In [7]:
df['ended_at'] = pd.to_datetime(df['ended_at'])
df['started_at'] = pd.to_datetime(df['started_at'])

In [8]:
df.insert(4,'ride_length', df['ended_at'] - df['started_at'])
df['ride_length'] = df['ride_length'].dt.total_seconds()

In [9]:
df = df.reset_index(drop=True)
## get all the rows that has a negative ride length, then remove it from the dataframe
df = df.drop(df[(df['ride_length'] < 0)].index)

In [10]:
df

,ride_id,rideable_type,started_at,ended_at,ride_length,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,625.0,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.890000,-87.720000,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,244.0,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.900000,-87.690000,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,80.0,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.900000,-87.700000,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,702.0,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.920000,-87.690000,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,43.0,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.900000,-87.700000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5595058,847431F3D5353AB7,electric_bike,2021-12-12 13:36:55,2021-12-12 13:56:08,1153.0,Canal St & Madison St,13341,NaN,NaN,41.882289,-87.639752,41.890000,-87.610000,casual
5595059,CF407BBC3B9FAD63,electric_bike,2021-12-06 19:37:50,2021-12-06 19:44:51,421.0,Canal St & Madison St,13341,Kingsbury St & Kinzie St,KA1503000043,41.882123,-87.640053,41.889106,-87.638862,member
5595060,60BB69EBF5440E92,electric_bike,2021-12-02 08:57:04,2021-12-02 09:05:21,497.0,Canal St & Madison St,13341,Dearborn St & Monroe St,TA1305000006,41.881956,-87.639955,41.880254,-87.629603,member
5595061,C414F654A28635B8,electric_bike,2021-12-13 09:00:26,2021-12-13 09:14:39,853.0,Lawndale Ave & 16th St,362.0,NaN,NaN,41.860000,-87.720000,41.850000,-87.710000,member
5595062,37AC57E34B2E7E97,classic_bike,2021-12-13 08:45:32,2021-12-13 08:49:09,217.0,Michigan Ave & Jackson Blvd,TA1309000002,Dearborn St & Monroe St,TA1305000006,41.877850,-87.624080,41.881320,-87.629521,member

In [11]:
column1 = pd.DataFrame([df.isnull().sum()]).T
column1

                         0
ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
ride_length              0
start_station_name  690789
start_station_id    690786
end_station_name    739149
end_station_id      739149
start_lat                0
start_lng                0
end_lat               4770
end_lng               4770
member_casual            0

In [12]:
739149 / len(df)

0.13211083061836854

### The table indicates that there are missing stations for start and end, as well as a missing latitude and longitude value. This constitutes about 13% of the dataset. We have decided not to remove this data, as it won't affect us doing analysis. But these 13% could be crucial components when it comes to marketing that they alert us to something we should be aware of to ensure to record "all the data."

In [13]:
df['day_of_week'] = df['started_at'].dt.dayofweek
df['day_of_week'] = df['day_of_week'].map({
    0: 'Monday',
    1: 'Tuesday',
    2: 'Wednesday',
    3: 'Thursday',
    4: 'Friday',
    5: 'Saturday',
    6: 'Sunday'
})

### Adding the day of the week to the data frame for analysis purposes.

In [14]:
df = df.drop(df.columns[[9,10,11,12]], axis = 1)

### Remove the columns for starting longitude and latitude, as well as ending longitude and latitude, since we already have the starting station name and ending station name.

In [15]:
#Create a csv file
df.to_csv("/Users/zackhung/Desktop/Google Certificate/DataSet/Bike-Share/Data/Bike-Share.csv", index = False)

### We exporting data for visulization on tableau

# [Cyclist Bike Share](https://public.tableau.com/app/profile/hung.yi.le/viz/Visualization_16591666993890/GoogleCapstone#1)